<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>{% block title %}asn{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('admin/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
            <link href="{{ asset('admin/bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet" media="screen">
            <style type="text/css">
                body {
                    padding-top: 60px;
                    padding-bottom: 40px;
                }
                .sidebar-nav {
                    padding: 9px 0;
                }

                @media (max-width: 980px) {
                    /* Enable use of floated navbar text */
                    .navbar-text.pull-right {
                        float: none;
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }
            </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('lib/images/logo_asn.png') }}" />
    </head>
    <body>
        {% block header %} 
        {% endblock %}

        {% block body %} 
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('admin/bootstrap/js/jquery.js') }}"></script>
            <script src="{{ asset('admin/bootstrap/js/bootstrap-transition.js') }}"></script>
            <script src="{{ asset('admin/bootstrap/js/bootstrap-alert.js') }}"></script>
            <script src="{{ asset('admin/bootstrap/js/bootstrap-modal.js') }}"></script>
            <script src="{{ asset('admin/bootstrap/js/bootstrap-dropdown.js') }}"></script>
            <script src="{{ asset('admin/bootstrap/js/bootstrap-scrollspy.js') }}"></script>
            <script src="{{ asset('admin/bootstrap/js/bootstrap-tab.js') }}"></script>
            <script src="{{ asset('admin/bootstrap/js/bootstrap-tooltip.js') }}"></script>
            <script src="{{ asset('admin/bootstrap/js/bootstrap-popover.js') }}"></script>
            <script src="{{ asset('admin/bootstrap/js/bootstrap-button.js') }}"></script>
            <script src="{{ asset('admin/bootstrap/js/bootstrap-collapse.js') }}"></script>
            <script src="{{ asset('admin/bootstrap/js/bootstrap-carousel.js') }}"></script>
            <script src="{{ asset('admin/bootstrap/js/bootstrap-typeahead.js') }}"></script>
        {% endblock %}
    </body>
</html>
