{% extends "::base.html.twig" %}

{% block title %}
    {{ app.user.firstname }} {{ app.user.lastname }}
{% endblock %}

{% block body %}
    <div class="col-lg-3" >
        <div class="panel">
            <div class="panel-heading">
                <a href="#">
                    <img src="{{ asset('res/img/voiture.jpg') }}" class="img-responsive">
                </a>
            </div>
            <div class="panel-body">
                <h5><b>Nom & prénoms</b></h5>
                <p>{{ app.user.firstname }} {{ app.user.lastname }}</p>
                <h5><b>Date de naissance</b></h5>
                <p>{{ app.user.dateofbirth | date('d/m/Y') }}</p>
                <h5><b>Email</b></h5>
                <p>{{ app.user.email }}</p>
                <h5><b>Nationnalité</b></h5>
                <p>{{ app.user.country }}</p>
            </div>
        </div>
    </div> 

    <div class="col-lg-7 block-actualite">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#posts" role="tab" data-toggle="tab">
                    <i class="fa fa-paper-plane text-orange"></i> Posts
                </a>
            </li>
            <li>
                <a href="#albums" role="tab" data-toggle="tab">
                    <i class="fa fa-picture-o text-orange"></i> Albums
                </a>
            </li>
            <li>
                <a href="#meetings" role="tab" data-toggle="tab">
                    <i class="fa fa-suitcase text-orange"></i> Meetings
                </a>
            </li>
            <li>
                <a href="#groupes" role="tab" data-toggle="tab">
                    <i class="fa fa-group text-orange"></i> Groupes
                </a>
            </li>
            <li>
                <a href="#forums" role="tab" data-toggle="tab">
                    <i class="fa fa-comments-o text-orange"></i> Forums
                </a>
            </li>
            <li>
                <a href="#agendas" role="tab" data-toggle="tab">
                    <i class="fa fa-calendar text-orange"></i> Agendas
                </a>
            </li>
        </ul>
        <div class="tab-content padding">
            <div class="tab-pane fade in active" id="posts">
                <div class="row">
                    <div class="col-lg-2">
                        <br>
                        <a href="#" class="h1 text-orange">Moi</a>
                        <h6>Le 27/05/2016</h6>
                        <h6>A 17h:06</h6>
                        <br>
                        <h6><a href="#">Modifier <i class="fa fa-pencil"></i></a></h6>
                        <h6><a href="#" class="text-danger">Supprimer <i class="fa fa-remove"></i></a></h6>
                    </div>
                    <div class="col-lg-8 panel">
                        <div class="panel-heading">
                            <h3>Vente aux enchères</h3>
                            <h4><img src="{{ asset('res/img/voiture.jpg') }}" class="img-responsive"></h4>
                        </div>
                        <div class="panel-body">
                            <p>
                                Achetez cette dernière Limousine de marque Chinoise à seulement 15millions de FCFA
                            </p>
                            <p><a href="#">Voir les détails sur APM &raquo;</a></p>
                        </div>
                    </div>
                    <div class="col-lg-2 text-center">
                        <p>
                            <span class="text-muted">12 j'aime</span>
                            <br>
                            <i class="fa fa-thumbs-o-up fa-lg"></i>
                            <br>
                            <a> Voir &raquo;</a>
                        </p>
                        <br>
                        <p>
                            <span class="text-muted">120 commentaires</span>
                            <br>
                            <i class="fa fa-comments-o fa-lg"></i>
                            <br>
                            <a> Voir &raquo;</a>
                        </p>
                        <br>
                        <h4 class="text-muted">Visible par</h4>
                        <p>
                            <a href="#">Buy&Sallam</a>
                            <a>Buy&Sallam</a><br>
                            <a>Buy&Sallam</a><br>
                            <a>Buy&Sallam</a><br>
                            <a>Buy&Sallam</a><br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="albums">
                <div class="row">
                    <div class="col-lg-3">
                        <a href="#" class="panel text-center">
                            <img src="{{ asset('res/img/paysage.jpg') }}" class="img-responsive img-rounded">
                            <h6 class="text-orange"><b>Album</b></h6>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a href="#" class="panel text-center">
                            <img src="{{ asset('res/img/voiture.jpg') }}" class="img-responsive img-rounded">
                            <h6 class="text-orange"><b>Album</b></h6>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a href="#" class="panel text-center">
                            <img src="{{ asset('res/img/paysage.jpg') }}" class="img-responsive img-rounded">
                            <h6 class="text-orange"><b>Album</b></h6>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a href="#" class="panel text-center">
                            <img src="{{ asset('res/img/house.jpg') }}" class="img-responsive img-rounded">
                            <h6 class="text-orange"><b>Album</b></h6>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a href="#" class="panel text-center">
                            <img src="{{ asset('res/img/paysage.jpg') }}" class="img-responsive img-rounded">
                            <h6 class="text-orange"><b>Album</b></h6>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a href="#" class="panel text-center">
                            <img src="{{ asset('res/img/voiture.jpg') }}" class="img-responsive img-rounded">
                            <h6 class="text-orange"><b>Album</b></h6>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a href="#" class="panel text-center">
                            <img src="{{ asset('res/img/paysage.jpg') }}" class="img-responsive img-rounded">
                            <h6 class="text-orange"><b>Album</b></h6>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a href="#" class="panel text-center">
                            <img src="{{ asset('res/img/house.jpg') }}" class="img-responsive img-rounded">
                            <h6 class="text-orange"><b>Album</b></h6>
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="videos">
                Videos
            </div>
            <div class="tab-pane fade" id="meetings">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3>TD Calcul parallele</h3>
                                <h5>Début: 01/06/2016 15h:09</h5>
                                <h5>Fin: 01/06/2016 22h:09</h5>
                                <h5>Fréquence de rappel: 3jours</h5>
                                <h5><a href="#">Détails &raquo;</a></h5>
                            </div>
                            <div class="panel-body hidden">
                                <h5><b>Participants</b> <i class="fa fa-group"></i></h5>
                                <p>
                                    Organisateur: <a href="#">Moi</a>
                                </p>
                                <p>
                                    Modérateur: <a href="#">Aurelien TEGUS</a>
                                </p>
                                <p>
                                    Rapporteur: <a href="#">Shang Mokai</a>
                                </p>
                                <p>
                                    Membres: <a href="#">Sophony,</a> <a href="#">Darius,</a> 
                                    <a href="#">Balam,</a> <a href="#">Patrice,</a> 
                                    <a href="#" class="h6">voir tous les membres&raquo;</a>
                                </p>
                                <p>
                                    Lieu: <a href="#">En ligne</a>
                                    {#Preciser un lieu sur la mappe google#}
                                </p>
                                <br>
                                <h5><b>Pièces jointes</b> <i class="fa fa-paperclip"></i></h5>
                                <p><a href="#">Epreuve CC 2015 <i class="fa fa-download"></i></a></p>
                                <p><a href="#">Epreuve CC 2015 <i class="fa fa-download"></i></a></p>
                                <p><a href="#">Epreuve CC 2015 <i class="fa fa-download"></i></a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3>TD Calcul parallele</h3>
                                <h5>Début: 01/06/2016 15h:09</h5>
                                <h5>Fin: 01/06/2016 22h:09</h5>
                                <h5>Fréquence de rappel: 3jours</h5>
                                <h5><a href="#">Détails &raquo;</a></h5>
                            </div>
                            <div class="panel-body hidden">
                                <h5><b>Participants</b> <i class="fa fa-group"></i></h5>
                                <p>
                                    Organisateur: <a href="#">Moi</a>
                                </p>
                                <p>
                                    Modérateur: <a href="#">Aurelien TEGUS</a>
                                </p>
                                <p>
                                    Rapporteur: <a href="#">Shang Mokai</a>
                                </p>
                                <p>
                                    Membres: <a href="#">Sophony,</a> <a href="#">Darius,</a> 
                                    <a href="#">Balam,</a> <a href="#">Patrice,</a> 
                                    <a href="#" class="h6">voir tous les membres&raquo;</a>
                                </p>
                                <p>
                                    Lieu: <a href="#">En ligne</a>
                                    {#Preciser un lieu sur la mappe google#}
                                </p>
                                <br>
                                <h5><b>Pièces jointes</b> <i class="fa fa-paperclip"></i></h5>
                                <p><a href="#">Epreuve CC 2015 <i class="fa fa-download"></i></a></p>
                                <p><a href="#">Epreuve CC 2015 <i class="fa fa-download"></i></a></p>
                                <p><a href="#">Epreuve CC 2015 <i class="fa fa-download"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="groupes">
                <div class="col-lg-3 border-right">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">
                            <a href="#">Boutiquiers du Grand Nord <span class="badge pull-right">4</span></a>
                        </li>
                        <li>
                            <a href="#">Buy & Sallam <span class="badge pull-right">49</span></a>
                        </li>
                        <li>
                            <a href="#">Syndicat des Etudiants de Maroua <span class="badge pull-right">30</span></a>
                        </li>
                        <li>
                            <a href="#">Etudiants de l'ISS <span class="badge pull-right">12</span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9">
                    <a href="#" class="pull-right" data-toggle="modal" data-target="#myModal1">
                        Ajouter un nouveau membre <i class="fa fa-plus-circle"></i>
                    </a>
                    <br><br><br>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input type="text" class="form-control" placeholder="Nom de l'utilisateur">
                    </div>
                    <br>
                    <table  class="table table-bordered table-striped">
                        <thead class="">
                            <tr>
                                <th>membres</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>TSAFACK SILATSA Darius Clinton</td>
                                <td><a href="#" class="text-danger">Supprimer <i class="fa fa-remove"></i></a></td>
                            </tr>
                            <tr>
                                <td>Aurelien TEGUS</td>
                                <td><a href="#" class="text-danger">Supprimer <i class="fa fa-remove"></i></a></td>
                            </tr>
                            <tr>
                                <td>Aurelien TEGUS</td>
                                <td><a href="#" class="text-danger">Supprimer <i class="fa fa-remove"></i></a></td>
                            </tr>
                            <tr>
                                <td>Aurelien TEGUS</td>
                                <td><a href="#" class="text-danger">Supprimer <i class="fa fa-remove"></i></a></td>
                            </tr>
                            <tr>
                                <td>Aurelien TEGUS</td>
                                <td><a href="#" class="text-danger">Supprimer <i class="fa fa-remove"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="forums">
                <div class="row">
                    <div class="col-lg-3">
                        <a class="panel" href="#">
                            <h2 class="text-center">
                                <i class="fa fa-commenting fa-2x"></i>
                                <br>
                                Buy & Sallam
                            </h2>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a class="panel" href="#">
                            <h2 class="text-center">
                                <i class="fa fa-commenting fa-2x"></i>
                                <br>
                                Buy & Sallam
                            </h2>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a class="panel" href="#">
                            <h2 class="text-center">
                                <i class="fa fa-commenting fa-2x"></i>
                                <br>
                                Buy & Sallam
                            </h2>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a class="panel" href="#">
                            <h2 class="text-center">
                                <i class="fa fa-commenting fa-2x"></i>
                                <br>
                                Buy & Sallam
                            </h2>
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="agendas">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="text-muted">12/06/2016</p>
                    </div>
                    <div class="col-lg-3">
                        <a href="#">
                            <h2>Meeting sur AVM</h2>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a href="#">
                            <h2>Meeting sur AVM</h2>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a href="#">
                            <h2>Meeting sur AVM</h2>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="text-muted">12/06/2016</p>
                    </div>
                    <div class="col-lg-3">
                        <a href="#">
                            <h2>Meeting sur AVM</h2>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a href="#">
                            <h2>Meeting sur AVM</h2>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a href="#">
                            <h2>Meeting sur AVM</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="panel">
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="#">
                        Modifier la photo de profile 
                        <i class="fa fa-pencil pull-right"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        Modifier le mot de passe 
                        <i class="fa fa-pencil pull-right"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        Modifier les informations personnelles 
                        <i class="fa fa-pencil pull-right"></i>
                    </a>
                </li>
                <li><a href="#">Option 1</a></li>
                <li><a href="#">Option 1</a></li>
                <li><a href="#">Option 1</a></li>
            </ul>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Ajout d'un nouveau membre au groupe @@@</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input type="text" class="form-control" placeholder="Nom de l'utilisateur">
                    </div
                    <div class="row">
                        <h3>Lorem</h3>
                        <h3>Lorem</h3>
                        <h3>Lorem</h3>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-primary btn-sm">Ajouter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

