{% extends "::user_base.html.twig" %}

{% block title %} {{ parent() }} {% endblock %}

{% block stylesheets %}
    <link href="{{ asset('lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('lib/font-awesome-4.4.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/style-home.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block header %}
    <div class="navbar navbar-default bg-purple" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><div class="text-color">AVM Social Network</div></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#"><div class="text-color">Link</div></a></li>
                    <li><a href="#"><div class="text-color">Link</div></a></li>
                    <li><a href="#"><div class="text-color">Link</div></a></li>
                    <li class="divider"></li>
                    <li><a href="#"><div class="text-color">Link</div></a></li>
                    <li class="divider"></li>
                    <li><a href="#"><div class="text-color">Link</div></a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <div class="text-color"><i class="fa fa-user fa-2x"></i> {{ app.user.firstname }} {{ app.user.lastname | upper }} 
                                <a href="{{path('asn_logout') }}">Déconnexion</a>
                                <span class="caret"></span></div>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="fa fa-power-off"></i> Sign out</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="container-fluid row">
                    <h2 class="label-align"><span class="label label-default bg-purple title-badge">Groupes relationnels</span></h2>
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="#"><span class="badge pull-right bg-purple">42</span>Amis</a></li>
                            <li class="list-group-item"><a href="#">Collègues de bureau</a></li>
                            <li class="list-group-item"><a href="#"><span class="badge pull-right bg-purple">01</span>Famille maternelle</a></li>
                            <li class="list-group-item"><a href="#"><span class="badge pull-right bg-purple">06</span>Club de danse</a></li>
                        </ul>
                    </div>
                    <p><a class="btn" href="#">More &raquo;</a></p>
                </div>
                <div class="container-fluid row">
                    <h2 class="label-align"><span class="label label-default bg-purple title-badge">Forum</span></h2>
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="#"><span class="badge pull-right bg-purple">22</span>Forum 1</a></li>
                            <li class="list-group-item"><a href="#"><span class="badge pull-right bg-purple">212</span>Forum 2</a></li>
                            <li class="list-group-item"><a href="#">Forum 3</a></li>
                            <li class="list-group-item"><a href="#"><span class="badge pull-right bg-purple"></span>Forum 4</a></li>
                        </ul>
                    </div>
                    <p><a class="btn" href="#">More &raquo;</a></p>
                </div>
                <div class="container-fluid row">
                    <h2 class="label-align"><span class="label label-default bg-purple title-badge">AVM Public Market</span></h2>
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item"><span class="badge bg-purple">14</span>Product 1</li>
                            <li class="list-group-item"><span class="badge bg-purple"></span>Service 1</li>
                            <li class="list-group-item"><span class="badge bg-purple">01</span>Product 2</li>
                        </ul>
                    </div>
                    <p><a class="btn" href="#">More &raquo;</a></p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="container-fluid row">
                    <center>Main content.</center>
                </div>
            </div>
            <div class="col-md-2">
                <div class="container-fluid row">
                    <h2><span class="label label-default bg-purple title-badge">Organisation personnel</span></h2>
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item">Agenda de travail</li>
                            <li class="list-group-item">Agenda de voyage</li>
                            <li class="list-group-item">Planning d'étude</li>
                        </ul>
                    </div>
                    <p><a class="btn" href="#">More &raquo;</a></p>
                </div>
                <div class="container-fluid row">
                    <h2><span class="label label-default bg-purple title-badge">Meeting</span></h2>
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item"><span class="badge bg-purple">04</span>Invitations</li>
                            <li class="list-group-item"><span class="badge bg-purple">28</span>Paticipations</li>
                        </ul>
                    </div>
                    <p><a class="btn" href="#">More &raquo;</a></p>
                </div>
                <div class="container-fluid row">
                    <h2><span class="label label-default bg-purple title-badge">Messagerie</span></h2>
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item"><span class="badge bg-purple">14</span>inbox</li>
                            <li class="list-group-item"><span class="badge bg-purple">08</span>outbox</li>
                            <li class="list-group-item"><span class="badge bg-purple"></span>Envoyés</li>
                            <li class="list-group-item"><span class="badge bg-purple">07</span>Brouillons</li>
                        </ul>
                    </div>
                    <p><a class="btn" href="#">More &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer>
        <br>
        <div class="container">
            <div class="row border-top">
                <div class="col-lg-12">
                    <h5 class="text-center">Copyright &copy; 2016</h5>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}